<div class='configurable-container'>
  <div class="header">
    <h2>Config</h2>
  </div>

  <div class="configurable-options card-panel">
    <%= form_tag(admin_configurable_path, :method => :put) do -%>
        <%- @keys.each do |key| -%>
            <%- options = Configurable.defaults[key] -%>
            <div class="#{options[:type] = 'boolean' ? '' : 'input-field'}">
              <%- if options[:type] != 'boolean' %>
                  <%= label_tag key, options[:name] %>
              <%- end -%>
              <%- if options[:type] == 'boolean' %>
                  <%= check_box_tag key, "1", Configurable.send(key) %>
                  <%= label_tag key, options[:name] %>
              <%- elsif options[:type] == 'password' -%>
                  <%= password_field_tag key, Configurable.send(key) %>
              <%- elsif options[:type] == 'text' -%>
                  <%= text_area_tag key, Configurable.send(key) %>
              <%- elsif options[:type] == 'list' -%>
                  <%= text_area_tag key, Configurable.serialized_value(key) -%>
              <%- else -%>
                  <%= text_field_tag key, Configurable.send(key) %>
              <%- end -%>
            </div>
        <%- end -%>
        <br/>
        <%= submit_tag 'Save', :class => "waves-effect waves-light btn"%>
    <%- end -%>
  </div>
</div>
